


<%- include('./head') %>

		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					
					<div class="card radius-15">
						<div class="card-header border-bottom-0">
							<div class="d-flex align-items-center">
								<div>
									<h5 class="mb-0">Upcoming Events Details</h5>
								</div>
								<div class="ml-auto">
									<a href="/admin/addUpcomingEvent">
										<button type="button" class="btn btn-light radius-15">
											Add More Upcoming Events
										</button>
									</a>
								</div>
							</div>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive">
								<table class="table mb-0">
									<thead>
										<tr>
											<th>SI.No</th>
											<th>Event Hedding</th>
											<th>Event Type </th>
											<th>Event Date</th>
											<th>Location</th>
											<th>Active</th>
											<th>Edit</th>
										</tr>
									</thead>



									
									<tbody>
										<tr>
											<td>1</td>
											<td>Social Media Strategies Conference</td>
											<td>Marketing and Advertising Events</td>
											<td>June 15, 2023</td>
											<td>Dyu Art Cafe, Madiwala</td>
											<td><a href="" class="btn btn-sm btn-light btn-block radius-30">Active</a>
											</td>
											<td><a href="" class="btn btn-sm btn-light btn-block radius-30">Edit</a>
											</td>
										</tr>
										<tr>
											<td>2</td>
											<td>Branding and Advertising Workshop</td>
											<td>Marketing and Advertising Events</td>
											<td>August 3, 2023</td>
											<td>Cafe Hustle ,HSR Layout</td>
											<td><a href="" class="btn btn-sm btn-light btn-block radius-30">Inactive</a>
											</td>
											<td><a href="" class="btn btn-sm btn-light btn-block radius-30">Edit</a>
											</td>
										</tr>
										<tr>
											<td>3</td>
											<td>Brand Storytelling Workshop</td>
											<td>Marketing and Advertising Events</td>
											<td>October 19, 2023</td>
											<td>Blue Tokai Coffee Roasters, Indiranagar</td>
											<td><a href="" class="btn btn-sm btn-light btn-block radius-30">Complete</a>
											</td>
											<td><a href="" class="btn btn-sm btn-light btn-block radius-30">Edit</a>
											</td>
										</tr>
										<tr>
											<td>4</td>
											<td>Leadership Workshop</td>
											<td>Leadership and Development Events</td>
											<td>December 7, 2023</td>
											<td>Ziesta Rooftop Cafe, Electronic City</td>
											<td><a href="" class="btn btn-sm btn-light btn-block radius-30">Complete</a>
											</td>
											<td><a href="" class="btn btn-sm btn-light btn-block radius-30">Edit</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!--footer -->
		
		<!-- end footer -->
	</div>
	<!--start switcher-->
	<!-- <div class="switcher-wrapper">
		<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
		</div>
		<div class="switcher-body">
			<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
			<hr/>
			<p class="mb-0">Gaussian Texture</p>
			  <hr>
			  
			  <ul class="switcher">
				<li id="theme1"></li>
				<li id="theme2"></li>
				<li id="theme3"></li>
				<li id="theme4"></li>
				<li id="theme5"></li>
				<li id="theme6"></li>
			  </ul>
               <hr>
			  <p class="mb-0">Gradient Background</p>
			  <hr>
			  
			  <ul class="switcher">
				<li id="theme7"></li>
				<li id="theme8"></li>
				<li id="theme9"></li>
				<li id="theme10"></li>
				<li id="theme11"></li>
				<li id="theme12"></li>
			  </ul>
		</div>
	</div> -->
	<!--end switcher-->
	<!-- JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<!--plugins-->
	<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<!-- Vector map JavaScript -->
	<script src="assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-in-mill.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-us-aea-en.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-uk-mill-en.js"></script>
	<script src="assets/plugins/vectormap/jquery-jvectormap-au-mill.js"></script>
	<script src="assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
	<script src="assets/js/index2.js"></script>
	<!-- App JS -->
	<script src="assets/js/app.js"></script>
</body>

</html>