



<%- include('./head') %>


        <!-- menu -->
        <div class="mil-menu-frame">
            <!-- frame clone -->
            <div class="mil-frame-top">
                <a href="/" class="mil-logo"></a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <!-- frame clone end -->
            <div class="container">
                <div class="mil-menu-content">
                    <div class="row">
                        <div class="col-xl-5">

                            <nav class="mil-main-menu" id="swupMenu">
                                <ul>
                                    <li class="mil-has-children">
                                        <a href="/">Homepage</a>
                                    </li>
                                    <!-- <li class="mil-has-children mil-active">
                                        <a href="/Business_Fix">Institute2Industry</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/events">Events</a>
                                    </li> -->







                                    <li class="mil-has-children">
                                        <a href="/Business_Fix">Business Fix</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/Career_Cadence">Career Cadence</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/PrepNLift">PrepNLift</a>
                                    </li>
                                    <li class="mil-has-children mil-active">
                                        <a href="/Institute2Industry">Institute2Industry</a>
                                    </li>







                                    <li class="mil-has-children">
                                        <a href="/contact">Contact</a>
                                    </li>    
                                </ul>
                            </nav>

                        </div>
                        <div class="col-xl-7">

                            <div class="mil-menu-right-frame">
                                <div class="mil-animation-in">
                                    <div class="mil-animation-frame">
                                        <div class="mil-animation mil-position-1 mil-scale" data-value-1="2" data-value-2="2"></div>
                                    </div>
                                </div>
                                <div class="mil-menu-right">
                                    <div class="col-lg-8 mil-mb-60">

                                        <h6 class="mil-muted mil-mb-30">Strategic Consulting</h6>

                                        <ul class="mil-menu-list">
                                            <li><a href="" class="mil-light-soft">Marketing & Branding Strategy</a></li>
                                            <li><a href="" class="mil-light-soft">Customer Experience & Retention</a></li>
                                            <li><a href="" class="mil-light-soft">Strategic Planning & Analysis</a></li>
                                            <li><a href="" class="mil-light-soft">Leadership & Executive Coaching</a></li>
                                            <li><a href="" class="mil-light-soft">Technology & Digital Transformation</a></li>
                                            <li><a href="" class="mil-light-soft">Innovation & Growth Consulting</a></li>
                                            

                                        </ul>

                                    </div>
                                    <div class="col-lg-4 mil-mb-60">

                                        <h6 class="mil-muted mil-mb-30">Operational Consulting</h6>

                                        <ul class="mil-menu-list">
                                            <li><a href="" class="mil-light-soft">Process Optimization</a></li>
                                            <li><a href="" class="mil-light-soft">Financial Consulting</a></li>
                                            <li><a href="" class="mil-light-soft">Operational Excellence</a></li>
                                            <li><a href="" class="mil-light-soft">Risk & Compliance</a></li>
                                        </ul>

                                    </div>
                                    </div>
                                    <div class="mil-divider mil-mb-60"></div>
                                    <div class="row justify-content-between">

                                        <div class="col-lg-4 mil-mb-60">

                                            <h6 class="mil-muted mil-mb-30">Whitefield</h6>

                                            <p class="mil-light-soft mil-up">GoSpaze Realty , Varthur Main Rd  , Thubarahalli , Bengaluru <span class="mil-no-wrap">560066</span></p>

                                        </div>
                                        <div class="col-lg-4 mil-mb-60">

                                            <h6 class="mil-muted mil-mb-30">HSR Layout</h6>

                                            <p class="mil-light-soft">3rd Floor , 5th Main , 6thAve St , Teachers Colony , Koramangala <span class="mil-no-wrap">560034</span></p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu -->

        <!-- curtain -->
        <div class="mil-curtain"></div>
        <!-- curtain end -->

        <img class="logo-image" src="/user/Images/Low/44444.png" alt="Logo" style="z-index: 1010; position: fixed; padding: 20px;">

        <!-- frame -->
        <div class="mil-frame">
            <div class="mil-frame-top" >
                <a href="/" class="mil-logo">
                </a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <div class="mil-frame-bottom">
                <div class="mil-current-page"></div>
                <div class="mil-back-to-top">
                    <a href="#top" class="mil-link mil-dark mil-arrow-place">
                        <span>Back to top</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="">Institute2Industry</a></li>
                            </ul>
                            <h1 class="mil-mb-60">Bridging Knowledge <br> <span class="mil-thin">with Industry</span></h1>
                            <a href="#portfolio" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Our services</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- portfolio -->
                <section id="portfolio">
                    <div class="container mil-portfolio mil-p-120-60">

                        <div class="mil-lines-place"></div>
                        <div class="mil-lines-place mil-lines-long"></div>

                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5">

                                <a href="" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/Counsulting/mock12.jpg" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Mock Interviews & Aptitude Training</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Realistic mock interviews by industry experts, plus training in aptitude and reasoning to sharpen problem-solving skills.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/Counsulting/etiquette.jpg" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Corporate Etiquette</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Guidance on navigating corporate environments, dressing for success, and building a professional network.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/Counsulting/communication7.jpg" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Communication Enhancement</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Training in effective verbal and written communication to excel in a corporate environment.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-5">

                                <a href="" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/Counsulting/career7.jpg" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Career Counselling</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">One-on-one mentoring to help students identify strengths and improve their career path.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-5">

                                <a href="" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/Counsulting/industry.jpg" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Industry Workshops & Guest Lectures</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Regular sessions with industry leaders to provide insights on trends, career opportunities, and professional navigation.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/Counsulting/placed.jpg" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Placement Assistance</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Strong partnerships with top companies for direct recruitment opportunities for graduates.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- portfolio end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Ready to bring your <span class="mil-thin">ideas to</span> life? <br> We're <span class="mil-thin">here to help</span></h2>
                            <div class="mil-up"><a href="/contact" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->

                <!-- footer -->
                <%- include('./footer') %>