



<%- include('./head') %>


        <!-- menu -->
        <div class="mil-menu-frame">
            <!-- frame clone -->
            <div class="mil-frame-top">
                <a href="/" class="mil-logo">Bē.</a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <!-- frame clone end -->
            <div class="container">
                <div class="mil-menu-content">
                    <div class="row">
                        <div class="col-xl-5">

                            <nav class="mil-main-menu" id="swupMenu">
                                <ul>
                                    <li class="mil-has-children">
                                        <a href="/">Homepage</a>
                                    </li>
                                    <li class="mil-has-children mil-active">
                                        <a href="/Business_Fix">Career Cadence</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/events">Events</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/contact">Contact</a>
                                    </li>    
                                </ul>
                            </nav>

                        </div>
                        <div class="col-xl-7">

                            <div class="mil-menu-right-frame">
                                <div class="mil-animation-in">
                                    <div class="mil-animation-frame">
                                        <div class="mil-animation mil-position-1 mil-scale" data-value-1="2" data-value-2="2"></div>
                                    </div>
                                </div>
                                <div class="mil-menu-right">
                                    <div class="col-lg-8 mil-mb-60">

                                        <h6 class="mil-muted mil-mb-30">Strategic Consulting</h6>

                                        <ul class="mil-menu-list">
                                            <li><a href="" class="mil-light-soft">Marketing & Branding Strategy</a></li>
                                            <li><a href="" class="mil-light-soft">Customer Experience & Retention</a></li>
                                            <li><a href="" class="mil-light-soft">Strategic Planning & Analysis</a></li>
                                            <li><a href="" class="mil-light-soft">Leadership & Executive Coaching</a></li>
                                            <li><a href="" class="mil-light-soft">Technology & Digital Transformation</a></li>
                                            <li><a href="" class="mil-light-soft">Innovation & Growth Consulting</a></li>
                                            

                                        </ul>

                                    </div>
                                    <div class="col-lg-4 mil-mb-60">

                                        <h6 class="mil-muted mil-mb-30">Operational Consulting</h6>

                                        <ul class="mil-menu-list">
                                            <li><a href="" class="mil-light-soft">Process Optimization</a></li>
                                            <li><a href="" class="mil-light-soft">Financial Consulting</a></li>
                                            <li><a href="" class="mil-light-soft">Operational Excellence</a></li>
                                            <li><a href="" class="mil-light-soft">Risk & Compliance</a></li>
                                        </ul>

                                    </div>
                                    </div>
                                    <div class="mil-divider mil-mb-60"></div>
                                    <div class="row justify-content-between">

                                        <div class="col-lg-4 mil-mb-60">

                                            <h6 class="mil-muted mil-mb-30">Bommanahalli</h6>

                                            <p class="mil-light-soft mil-up">Bangalore South , 560068 , KARNATAKA , INDIA <span class="mil-no-wrap">+91 8086 602 159</span></p>

                                        </div>
                                        <div class="col-lg-4 mil-mb-60">

                                            <h6 class="mil-muted mil-mb-30">Madivala</h6>

                                            <p class="mil-light-soft">Bangalore South , 560068 , KARNATAKA , INDIA <span class="mil-no-wrap">+91 8086 602 159</span></p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu -->

        <!-- curtain -->
        <div class="mil-curtain"></div>
        <!-- curtain end -->

        <!-- frame -->
        <div class="mil-frame">
            <div class="mil-frame-top">
                <a href="/" class="mil-logo">Bē.</a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <div class="mil-frame-bottom">
                <div class="mil-current-page"></div>
                <div class="mil-back-to-top">
                    <a href="#top" class="mil-link mil-dark mil-arrow-place">
                        <span>Back to top</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="">Career Cadence</a></li>
                            </ul>
                            <h1 class="mil-mb-60"> Craft Your Path<span class="mil-thin"> Forward</span></h1>
                            <a href="#portfolio" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Our services</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- portfolio -->
                <section id="portfolio">
                    <div class="container mil-portfolio mil-p-120-60">

                        <div class="mil-lines-place"></div>
                        <div class="mil-lines-place mil-lines-long"></div>

                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5">

                                <a href="" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/12.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Onboarding Solutions</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Seamlessly integrates new hires for smooth transitions and quicker productivity of an organization.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/11.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Employer Branding</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Boosts the organization’s reputation to attract top talent by highlighting its culture and values.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/4.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Talent Sourcing & Screening</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">A service that uses advanced tools and screening to source the right candidates.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-5">

                                <a href="" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/5.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Recruitment Support</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">From job profiling to onboarding, providing full-cycle recruitment support.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-5">

                                <a href="" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/6.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Strategic Workforce Planning</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Helps organizations identify skill gaps and plan for future workforce needs, ensuring long-term success.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="user/Images/7.jpeg" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <h4 class="mil-up">Executive Search Services</h4>
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper">Specialized recruitment for senior leadership roles, ensuring the perfect fit.</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- portfolio end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Ready to bring your <span class="mil-thin">ideas to</span> life? <br> We're <span class="mil-thin">here to help</span></h2>
                            <div class="mil-up"><a href="/contact" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->

                <!-- footer -->
                <%- include('./footer') %>