

<%- include('./head') %>


<style>
    .logo-image {
        /* filter: invert(100%); */
        backdrop-filter: invert(0);
}

@media (max-width: 768px) {
    .logo-image {
        width: 71px; 
        height: 65px;
    }
}
</style>
        <!-- menu -->
        <div class="mil-menu-frame">
            <!-- frame clone -->
            <div class="mil-frame-top">
                <a href="/" class="mil-logo"></a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <!-- frame clone end -->
            <div class="container">
                <div class="mil-menu-content">
                    <div class="row">
                        <div class="col-xl-5">

                            <nav class="mil-main-menu" id="swupMenu">
                                <ul>
                                    <li class="mil-has-children mil-active">
                                        <a href="/">Homepage</a>
                                    </li>






                                    
                                    <!-- <li class="mil-has-children">
                                        <a href="/events">Events</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/testimonial">Reflections</a>
                                    </li> -->
                                    


                                    <li class="mil-has-children">
                                        <a href="/Business_Fix">Business Fix</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/Career_Cadence">Career Cadence</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/PrepNLift">PrepNLift</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="/Institute2Industry">Institute2Industry</a>
                                    </li>


                                    
                                    <li class="mil-has-children">
                                        <a href="/contact">Contact</a>
                                    </li>    
                                </ul>
                            </nav>
                        </div>
                        <div class="col-xl-7">

                            <div class="mil-menu-right-frame">
                                <div class="mil-animation-in">
                                    <div class="mil-animation-frame">
                                        <div class="mil-animation mil-position-1 mil-scale" data-value-1="2" data-value-2="2"></div>
                                    </div>
                                </div>
                                <div class="mil-menu-right">
                                    <div class="row">
                                        <div class="col-lg-8 mil-mb-60">

                                            <h6 class="mil-muted mil-mb-30">Business Consulting</h6>

                                            <ul class="mil-menu-list">
                                                <li><a href="" class="mil-light-soft">Management counsulling</a></li>
                                                <li><a href="" class="mil-light-soft">Marketing and sale counsulling</a></li>
                                                <li><a href="" class="mil-light-soft">IT / Technology counsulling</a></li>
                                                <li><a href="" class="mil-light-soft">HR and Recruitment counsulling</a></li>
                                                <li><a href="" class="mil-light-soft">Operation counsulling</a></li>
                                                
                                            </ul>

                                        </div>
                                        <div class="col-lg-4 mil-mb-60">

                                            <h6 class="mil-muted mil-mb-30">Training&Recruitment</h6>

                                            <ul class="mil-menu-list">
                                                <li><a href="" class="mil-light-soft">Employee Onboarding</a></li>
                                                <li><a href="" class="mil-light-soft">Skill development</a></li>
                                                <li><a href="" class="mil-light-soft">Leadership development </a></li>
                                                <li><a href="" class="mil-light-soft">Corporate Training</a></li>
                                                <li><a href="" class="mil-light-soft">Campus Recruitment</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="mil-divider mil-mb-60"></div>
                                    <div class="row justify-content-between">

                                        <div class="col-lg-4 mil-mb-60">

                                            <h6 class="mil-muted mil-mb-30">Bommanahalli</h6>

                                            <p class="mil-light-soft mil-up">Bangalore South , 560068 , KARNATAKA , INDIA <span class="mil-no-wrap">+91 8086 602 159</span></p>

                                        </div>
                                        <div class="col-lg-4 mil-mb-60">

                                            <h6 class="mil-muted mil-mb-30">Madivala</h6>

                                            <p class="mil-light-soft">Bangalore South , 560068 , KARNATAKA , INDIA <span class="mil-no-wrap">+91 8086 602 159</span></p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu -->
        
        <!-- curtain -->
        <div class="mil-curtain"></div>
        <!-- curtain end -->

        <img class="logo-image" src="/user/Images/Low/44444.png" alt="Logo" style="z-index: 1010; position: fixed; padding: 20px;">

        <!-- frame -->
        <div class="mil-frame">
            <div class="mil-frame-top" >
                <a href="/" class="mil-logo">
                </a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <div class="mil-frame-bottom">
                <div class="mil-current-page"></div>
                <div class="mil-back-to-top">
                    <a href="#top" class="mil-link mil-dark mil-arrow-place">
                        <span>Back to top</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <section class="mil-banner mil-dark-bg">
                    <div class="mi-invert-fix">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-1 mil-scale" data-value-1="7" data-value-2="1.6"></div>
                            <div class="mil-animation mil-position-2 mil-scale" data-value-1="4" data-value-2="1"></div>
                            <div class="mil-animation mil-position-3 mil-scale" data-value-1="1.2" data-value-2=".1"></div>
                        </div>

                        <div class="mil-gradient"></div>

                        <div class="container">
                            <div class="mil-banner-content mil-up">

                                <h1 class="mil-muted mil-mb-60">Designer <span class="mil-thin">of your</span><br> Dream <span class="mil-thin"></span></h1>
                                <div class="row">
                                    <div class="col-md-7 col-lg-5">

                                        <p class="mil-light-soft mil-mb-60">At Bestract, we specialize in training and recruitment, delivering practical, industry-focused solutions that bridge the gap between academic knowledge and real-world needs. Our personalized career development programs and precision-matched recruitment ensure businesses thrive with top-tier talent and innovative solutions tailored for success.</p>

                                    </div>
                                </div>









                                <!-- <a href="/consulting" class="mil-button mil-arrow-place mil-btn-space">
                                    <span>What we do</span>
                                </a>

                                <a href="/events" class="mil-link mil-muted mil-arrow-place">
                                    <span>View works</span>
                                </a> -->




                                

                                <div class="mil-circle-text">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve" class="mil-ct-svg mil-rotate" data-value="360">
                                        <defs>
                                            <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 " />
                                        </defs>
                                        <circle cx="150" cy="100" r="75" fill="none" />
                                        <g>
                                            <use xlink:href="#circlePath" fill="none" />
                                            <text style="letter-spacing: 6.5px">
                                                <!-- circle text -->
                                                <textPath xlink:href="#circlePath">Scroll down - Scroll down - </textPath>
                                            </text>
                                        </g>
                                    </svg>
                                    <a href="#about" class="mil-button mil-arrow-place mil-icon-button mil-arrow-down"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- banner end -->

                <!-- about -->
                <section id="about" >
                    <div class="container mil-p-120-30">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-6 col-xl-5">

                                <div class="mil-mb-90">
                                    <h3 class="mil-up mil-mb-60">Unlocking Potential.<br>Transforming Careers. <span class="mil-thin"></span>Elevating Excellence.</h3>
                                    <p class="mil-up mil-mb-30">At Bestract, we specialize in closing the gap between academic foundations and industry requirements through practical, outcome-oriented training and strategic recruitment solutions. Our dedication to tailored career advancement and precisely aligned talent acquisition ensures individuals thrive, and businesses achieve sustained excellence.</p>

                                    <p class="mil-up mil-mb-60">Our mission goes beyond traditional approaches. We strive to empower organizations with strategic solutions and top-tier talent while fostering growth, success, and excellence. Together, we can create a future where potential thrives and opportunities are limitless.</p>

                                    <div class="mil-about-quote">
                                        <div class="mil-avatar mil-up">
                                            <img src="/user/Images/Razikka/razil2.jpg" alt="Founder">
                                            
                                        </div>
                                        <h6 class="mil-quote mil-up">Razil <span class="mil-thin"></span> <br> <span class="mil-thin">Founder and CEO</span></h6>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5">

                                <div class="mil-about-photo mil-mb-90">
                                    <div class="mil-lines-place"></div>
                                    <div class="mil-up mil-img-frame" style="padding-bottom: 160%;">
                                        <img src="/user/Images/Razikka/file.png" alt="img" class="mil-scale" data-value-1="1" data-value-2="1.2">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- about end -->

                <!-- services -->
                <section class="mil-dark-bg">
                    <div class="mi-invert-fix">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-1 mil-scale" data-value-1="2.4" data-value-2="1.4" style="top: 300px; right: -100px"></div>
                            <div class="mil-animation mil-position-2 mil-scale" data-value-1="2" data-value-2="1" style="left: 150px"></div>
                        </div>
                        <div class="container mil-p-120-0">

                            <div class="mil-mb-120">
                                <div class="row">
                                    <div class="col-lg-10">

                                        <span class="mil-suptitle mil-light-soft mil-suptitle-right mil-up">Bestract gets you best attracted<br> to your destination.</span>

                                    </div>
                                </div>

                                <div class="mil-complex-text justify-content-center mil-up mil-mb-15">

                                    <span class="mil-text-image"><img src="user/Images/9.webp" alt="team"></span>
                                    <h2 class="mil-h1 mil-muted mil-center">Unlock <span class="mil-thin">Potential</span></h2>

                                </div>
                                <div class="mil-complex-text justify-content-center mil-up">

                                    <h2 class="mil-h1 mil-muted mil-center">Unleash<span class="mil-thin"> Success.</span></h2>
                                    <a href="/consulting" class="mil-services-button mil-button mil-arrow-place"><span>What we do</span></a>

                                </div>
                            </div>

                            <div class="row mil-services-grid m-0">
                                <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">

                                    <a href="/Business_Fix" class="mil-service-card-sm mil-up">
                                        <h5 class="mil-muted mil-mb-30">BusinessFix<br></h5>
                                        <p class="mil-light-soft mil-mb-30">Expert advisory and solutions to drive business excellence.</p>
                                        <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                    </a>

                                </div>
                                <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">

                                    <a href="/Career_Cadence" class="mil-service-card-sm mil-up">
                                        <h5 class="mil-muted mil-mb-30">CareerCadence <br></h5>
                                        <p class="mil-light-soft mil-mb-30">Streamlined recruitment and strategic hiring solutions.</p>
                                        <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                    </a>

                                </div>
                                <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">

                                    <a href="/PrepNLift" class="mil-service-card-sm mil-up">
                                        <h5 class="mil-muted mil-mb-30">PrepNLift<br></h5>
                                        <p class="mil-light-soft mil-mb-30">Skills enhancement and industry mentoring for better employability.</p>
                                        <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                    </a>

                                </div>
                                <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">

                                    <a href="/Institute2Industry" class="mil-service-card-sm mil-up">
                                        <h5 class="mil-muted mil-mb-30">Institute2Industry <br></h5>
                                        <p class="mil-light-soft mil-mb-30">Training to bridge the gap between academia and industry.</p>
                                        <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- services end -->




                <!-- team -->
                <section>
                    <div class="container mil-p-120-30">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5 col-xl-4">

                                <div class="mil-mb-90">
                                    <h2 class="mil-up mil-mb-60">Meet <br>Our Team</h2>
                                    <p class="mil-up mil-mb-30">We are talented individuals who are passionate about bringing ideas to life. With a diverse range of backgrounds and skill sets, we collaborate to produce effective solutions for our clients.</p>

                                    <p class="mil-up mil-mb-60">Together, our creative team is committed to delivering impactful work that exceeds expectations.</p>

                                    <!-- <div class="mil-up"><a href="/events" class="mil-button mil-arrow-place mil-mb-60"><span>Read more</span></a></div> -->

                                    <h4 class="mil-up"><span class="mil-thin">We</span> deliver <br><span class="mil-thin">exceptional</span> results.</h4>
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="mil-team-list">
                                    <div class="mil-lines-place"></div>

                                    <div class="row mil-mb-60">
                                        <div class="col-sm-6">

                                            <div class="mil-team-card mil-up mil-mb-30">
                                                <img src="user/ourTeam/razil.webp" alt="Founder">
                                                <div class="mil-description">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="">Razil</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Founder</p>
                                                        <!-- <ul class="mil-social-icons mil-center">
                                                            <li><a href="/" target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                                        </ul> -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mil-team-card mil-up mil-mb-30">
                                                <img src="/user/Images/TEAM/Tom.jpg" alt="Social Media Head">
                                                <div class="mil-description">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="">Tom Thomaskutty</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">L&D specialist</p>
                                                        <!-- <ul class="mil-social-icons mil-center">
                                                            <li><a href="/" target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                                        </ul> -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        
                                        <div class="col-sm-6">

                                            <p class="mil-mobile-hidden mil-text-sm mil-mb-30" style="height: 30px;"><span class="mil-accent"></span></p>

                                            <div class="mil-team-card mil-up mil-mb-30">
                                                <img src="/user/Images/TEAM/Faheem.jpg" alt="Marketing Head">
                                                <div class="mil-description">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="">Faheem</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Business development manager</p>
                                                        <!-- <ul class="mil-social-icons mil-center">
                                                            <li><a href="/" target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                                        </ul> -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mil-team-card mil-up mil-mb-30">
                                                <img src="/user/Images/TEAM/Amitha.jpg" alt="Coordinator">
                                                <div class="mil-description">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="">Amitha</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Marketing consultant</p>
                                                        <!-- <ul class="mil-social-icons mil-center">
                                                            <li><a href="/" target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="" target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                                        </ul> -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- team end -->









                <!-- team -->
                <!-- <section>
                    <div class="container mil-p-120-30">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5 col-xl-4">

                                <div class="mil-mb-90">
                                    <h2 class="mil-up mil-mb-60"><br></h2>
                                    <p class="mil-up mil-mb-30"></p>
                                    <p class="mil-up mil-mb-60"></p>
                                    <h4 class="mil-up"><span class="mil-thin"></span>  <br><span class="mil-thin"></span></h4>
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="mil-team-list">
                                    <div class="mil-lines-place"></div>

                                    <div class="row mil-mb-60">
                                        <div class="col-sm-6">

                                            <div class="mil-team-card mil-up mil-mb-30">
                                                <img src="user/ourTeam/dilshad.jpg" alt="Accountant">
                                                <div class="mil-description">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="">Dilshad</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Accountant</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mil-team-card mil-up mil-mb-30">
                                                <img src="user/ourTeam/anan.heic" alt="Videographer">
                                                <div class="mil-description">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="">Anan</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Videographer</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        
                                        <div class="col-sm-6">

                                            <p class="mil-mobile-hidden mil-text-sm mil-mb-30" style="height: 30px;"><span class="mil-accent"></span></p>

                                            <div class="mil-team-card mil-up mil-mb-30">
                                                <img src="user/ourTeam/pronoy.jpg" alt="Video Editor">
                                                <div class="mil-description">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="">Pronoy</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">Video Editor</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mil-team-card mil-up mil-mb-30">
                                                <img src="user/ourTeam/pranav.jpg" alt="CGI Specialist">
                                                <div class="mil-description">
                                                    <div class="mil-secrc-text">
                                                        <h5 class="mil-muted mil-mb-5"><a href="">Pranav</a></h5>
                                                        <p class="mil-link mil-light-soft mil-mb-10">CGI Specialist</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section> -->
                <!-- team end -->











<!-- -------------------------------------------------------    TESTIMONIALS.     ------------------------------------------------------ -->







                <!-- reviews -->
                <!-- <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">

                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Testimonials provide insights that help businesses <br>improve and guide informed decisions.</span>

                            </div>
                        </div>

                        <h2 class="mil-center mil-up mil-mb-60">Insights <span class="mil-thin">from</span> <br> Our  <span class="mil-thin"> Clients!</span></h2>

                        <div class="mil-revi-pagination mil-up mil-mb-60"></div>

                        <div class="row mil-relative justify-content-center">
                            <div class="col-lg-8">

                                <div class="mil-slider-nav mil-soft mil-reviews-nav mil-up">
                                    <div class="mil-slider-arrow mil-prev mil-revi-prev mil-arrow-place"></div>
                                    <div class="mil-slider-arrow mil-revi-next mil-arrow-place"></div>
                                </div>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="mil-quote-icon mil-up">
                                    <path d="M 13.5 10 A 8.5 8.5 0 0 0 13.5 27 A 8.5 8.5 0 0 0 18.291016 25.519531 C 17.422273 29.222843 15.877848 31.803343 14.357422 33.589844 C 12.068414 36.279429 9.9433594 37.107422 9.9433594 37.107422 A 1.50015 1.50015 0 1 0 11.056641 39.892578 C 11.056641 39.892578 13.931586 38.720571 16.642578 35.535156 C 19.35357 32.349741 22 27.072581 22 19 A 1.50015 1.50015 0 0 0 21.984375 18.78125 A 8.5 8.5 0 0 0 13.5 10 z M 34.5 10 A 8.5 8.5 0 0 0 34.5 27 A 8.5 8.5 0 0 0 39.291016 25.519531 C 38.422273 29.222843 36.877848 31.803343 35.357422 33.589844 C 33.068414 36.279429 30.943359 37.107422 30.943359 37.107422 A 1.50015 1.50015 0 1 0 32.056641 39.892578 C 32.056641 39.892578 34.931586 38.720571 37.642578 35.535156 C 40.35357 32.349741 43 27.072581 43 19 A 1.50015 1.50015 0 0 0 42.984375 18.78125 A 8.5 8.5 0 0 0 34.5 10 z" fill="#000000" />
                                </svg>

                                <div class="swiper-container mil-reviews-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="mil-review-frame mil-center" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
                                                <h5 class="mil-up mil-mb-10">Justin</h5>
                                                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">Just market</p>
                                                <p class="mil-text-xl mil-up">This creative agency stands out with their exceptional talent and expertise. Their ability to think outside the box and bring unique ideas to life is truly impressive. With meticulous attention to detail, they consistently deliver visually stunning and impactful work.</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mil-review-frame mil-center" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
                                                <h5 class="mil-up mil-mb-10">Justin2</h5>
                                                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">Just2 market</p>
                                                <p class="mil-text-xl mil-up">I had the pleasure of working with this creative agency, and I must say, they truly impressed me. They consistently think outside the box, resulting in impressive and impactful work. I highly recommend this agency for their consistent delivery of exceptional creative solutions.</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mil-review-frame mil-center" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
                                                <h5 class="mil-up mil-mb-10">Justin3</h5>
                                                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">Just3 market</p>
                                                <p class="mil-text-xl mil-up">This creative agency stands out with their exceptional talent and expertise. Their ability to think outside the box and bring unique ideas to life is truly impressive. With meticulous attention to detail, they consistently deliver visually stunning and impactful work.</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mil-review-frame mil-center" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
                                                <h5 class="mil-up mil-mb-10">Justin4</h5>
                                                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">Just4 market</p>
                                                <p class="mil-text-xl mil-up">I had the pleasure of working with this creative agency, and I must say, they truly impressed me. They consistently think outside the box, resulting in impressive and impactful work. I highly recommend this agency for their consistent delivery of exceptional creative solutions.</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mil-review-frame mil-center" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
                                                <h5 class="mil-up mil-mb-10">Justin5</h5>
                                                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">Just5 market</p>
                                                <p class="mil-text-xl mil-up">This creative agency stands out with their exceptional talent and expertise. Their ability to think outside the box and bring unique ideas to life is truly impressive. With meticulous attention to detail, they consistently deliver visually stunning and impactful work.</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mil-review-frame mil-center" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
                                                <h5 class="mil-up mil-mb-10">Justin6</h5>
                                                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">Just6 market</p>
                                                <p class="mil-text-xl mil-up">I had the pleasure of working with this creative agency, and I must say, they truly impressed me. They consistently think outside the box, resulting in impressive and impactful work. I highly recommend this agency for their consistent delivery of exceptional creative solutions.</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="mil-review-frame mil-center" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
                                                <h5 class="mil-up mil-mb-10">Justin7</h5>
                                                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">Just7 market</p>
                                                <p class="mil-text-xl mil-up">This creative agency stands out with their exceptional talent and expertise. Their ability to think outside the box and bring unique ideas to life is truly impressive. With meticulous attention to detail, they consistently deliver visually stunning and impactful work.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </section> -->
                <!-- reviews end -->

                <!-- partners -->
                <div class="mil-soft-bg">
                    <div class="container mil-p-0-120">

                        <div class="swiper-container mil-infinite-show mil-up">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="" class="mil-partner-frame" style="width: 60px;"><img src="user/img/partners/1.svg" alt="logo"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="mil-partner-frame" style="width: 100px;"><img src="user/img/partners/2.svg" alt="logo"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="mil-partner-frame" style="width: 60px;"><img src="user/img/partners/1.svg" alt="logo"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="mil-partner-frame" style="width: 100px;"><img src="user/img/partners/2.svg" alt="logo"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- partners end -->







<!-- -------------------------------------------------------    LATEST EVENT.     ------------------------------------------------------ -->











                <!-- blog -->
                <!-- <section>
                    <div class="container mil-p-120-60">
                        <div class="row align-items-center mil-mb-30">
                            <div class="col-lg-6 mil-mb-30">
                                <h3 class="mil-up">Latest Events:</h3>
                            </div>
                            <div class="col-lg-6 mil-mb-30">
                                <div class="mil-adaptive-right mil-up">
                                    <a href="/events" class="mil-link mil-dark mil-arrow-place">
                                        <span>View all</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">

                                <a href="/events" class="mil-blog-card mil-mb-60">
                                    <div class="mil-cover-frame mil-up">
                                        <img src="user/Images/razilImages/1.webp" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">TECHNOLOGY</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">How to Become a Graphic Designer in 10 Simple Steps</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi commodi dignissimos optio, beatae, eos necessitatibus nisi. Nam cupiditate consectetur nostrum qui! Repellat natus nulla, nisi aliquid, asperiores impedit tempora sequi est reprehenderit cumque explicabo, dicta. Rem nihil ullam totam ea voluptas quibusdam repudiandae id ut at iure! Totam, a!</p>
                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="/events" class="mil-blog-card mil-mb-60">
                                    <div class="mil-cover-frame mil-up">
                                        <img src="user/Images/razilImages/9.webp" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">TECHNOLOGY</div>
                                            <div class="mil-label mil-upper">may 24 2023</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">16 Best Graphic Design Online and Offline Courses</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi commodi dignissimos optio, beatae, eos necessitatibus nisi. Nam cupiditate consectetur nostrum qui! Repellat natus nulla, nisi aliquid, asperiores impedit tempora sequi est reprehenderit cumque explicabo, dicta. Rem nihil ullam totam ea voluptas quibusdam repudiandae id ut at iure! Totam, a!</p>
                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </section> -->
                <!-- blog end -->

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const image = document.getElementsByClassName('logo-image')[0];
                        image.style.display = 'none';
                        setTimeout(() => {
                            image.style.display = 'block';
                            image.style.opacity = 1
                        }, 5000); 
                    });
                </script>

                <!-- footer -->
                <%- include('./footer') %>